<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keynest - Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {# Display Flash messages here #}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flash-messages">
                {% for category, message in messages %}
                    <li class="flash-message {{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <h1>Welcome to Keynest 🔐</h1>
    {% if current_user.is_authenticated%}
        <p>Hello, {{ current_user.username}}!</p>
        <a href="{{ url_for('main.logout')}}">Logout</a><br>
        <a href="{{ url_for('main.send_test_email')}}">Send Test Email</a>
    {% else %}
        <a href="{{ url_for('main.login')}}">Login</a> |
        <a href="{{ url_for('main.register')}}">Register</a>
    {% endif %}
</body>
</html>